@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Nunito';
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.scroll::-webkit-scrollbar {
  width: 3px;
}

.scroll::-webkit-scrollbar-thumb {
  width: 5px;
  height: 20px;
  background-color: grey;
  border-radius: 3px;
}

.scrollsdown::-webkit-scrollbar {
  height: 0px;
}

/*loading component css */

.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}

/*stops */

/* claim buttons loading */
.load {
  width: 20px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #929191 #0000;
  animation: l1 1s infinite;
  height: 20px;
}

@keyframes l1 {
  to {
    transform: rotate(.5turn)
  }
}

/* stops */


/* vefify loading css*/
.verifyload {
  width: 17px;
  aspect-ratio: 1;
  color: #e0dfdf;
  background: conic-gradient(currentColor 0 270deg, #0000 0);
  border-radius: 50%;
  animation: l14-0 4s infinite linear;
}

.verifyload::before {
  content: "";
  display: block;
  height: 50%;
  width: 50%;
  border-top-left-radius: 100px;
  background: currentColor;
  animation: l14 0.5s infinite alternate;
}

@keyframes l14-0 {

  0%,
  24.99% {
    transform: rotate(0deg)
  }

  25%,
  49.99% {
    transform: rotate(90deg)
  }

  50%,
  74.99% {
    transform: rotate(180deg)
  }

  75%,
  100% {
    transform: rotate(270deg)
  }
}

@keyframes l14 {
  100% {
    transform: translate(-10px, -10px)
  }
}

/* stops */


/* before show css */
.beforeshow {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-mask: linear-gradient(0deg, #000 55%, #0000 0) bottom/100% 18.18%;
  background:
    linear-gradient(#36225e 0 0) bottom/100% 0% no-repeat #ddd;
  animation: l8 2s infinite steps(7);
}

@keyframes l8 {
  100% {
    background-size: 100% 115%
  }
}

/* stops */

/* make new investment css */

.makenew {
  width: 10px;
  aspect-ratio: 1;
  color: white;
  background: currentColor;
  border-radius: 50%;
  position: relative;
}

.makenew:before {
  content: "";
  position: absolute;
  background:
    radial-gradient(farthest-side at bottom right, #0000 94%, currentColor 96%) 0 0,
    radial-gradient(farthest-side at bottom left, #0000 94%, currentColor 96%) 100% 0,
    radial-gradient(farthest-side at top left, #0000 94%, currentColor 96%) 100% 100%,
    radial-gradient(farthest-side at top right, #0000 94%, currentColor 96%) 0 100%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation:
    l39-1 1s infinite,
    l39-2 1s infinite;
}

@keyframes l39-1 {

  0%,
  10%,
  90%,
  100% {
    inset: 0
  }

  40%,
  60% {
    inset: -10px
  }
}

@keyframes l39-2 {

  0%,
  40% {
    transform: rotate(0)
  }

  60%,
  100% {
    transform: rotate(90deg)
  }
}

/* stops */

.shd {
  box-shadow: -0.1px 0px 1px rgba(120, 101, 101, 0.175);
  box-shadow: 0px 1px 3px rgba(102, 101, 101, 0.175);
  border-radius: 12px;
}

.lnk:hover>div:last-child {
  color: white;
}

.bgi {
  background-image: url('./assets/images/robot.jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgc {
  background-image: url('./assets/images/l-man.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bgs {
  background-image: url('./assets/images/bg.jfif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
}

.shb {
  box-shadow: 0px 20px 8px rgb(185, 184, 184);
}

.sha {
  box-shadow: 0px 1px 10px rgb(223, 222, 222);
}


.ipt::placeholder {
  font-size: 0.75rem;
  color: grey;
}

.ipa::placeholder {
  font-size: 0.75rem;
  color: rgb(214, 211, 211)
}

.shf {
  box-shadow: 10px 10px 10px rgb(128, 127, 127);
}

.shll {
  box-shadow: 0px 5px 10px #131a22;
}

.shlltw {
  box-shadow: 0px 2px 15px #161f29;
}

.bdd {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  border-left: 4px solid rgb(59, 59, 59);
}

.bgg {
  background-image: url('./assets/images/pr.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.shld {
  box-shadow: 3px 5px 7px rgb(110, 110, 110);
}

.trans {
  transition: all 0.3s ease-in-out;
}


.shlz {
  box-shadow: 0px 3px 10px #090611;
}

.shlztwo {
  box-shadow: 0px 2px 10px #1e1335;
}


.shlct {
  box-shadow: 0px 20px 8px #131a22;
}

.shantf {
  box-shadow: 0px 3px 10px rgb(119, 119, 119)
}

.shantf2 {
  box-shadow: 0px 3px 5px rgb(77, 76, 76)
}



.bgdeposit {
  background-image: url('./assets/images/depositwallpaper.png');
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

.shabox {
  box-shadow: 0px 1px 20px rgb(184, 183, 183)
}

.plan::before {
  content: "";
  border-width: 14px;
  border-style: solid;
  border-color: transparent transparent white white;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -0.8px;
  margin-left: 69px;
  z-index: 2;
}

.plan::after {
  content: "";
  border-width: 14px;
  border-style: solid;
  border-color: transparent white white transparent;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -0.54px;
  margin-right: 68px;
  z-index: 2;
}

.plan_bg {
  background-image: url('./assets/images/planbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: full;
}

.text-sha {
  color: #50318f;
  text-shadow: -1px 1px 3px #101011;
}

.adsha {
  box-shadow: 0px 1px 6px rgb(168, 168, 168);
}

.text-sha2 {
  color: #211a42;
  text-shadow: -1px 1px 3px black;
}

.notisha {
  box-shadow: 0px 3px 5px #281a46
}